<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haalthy.service.persistence.CommentMapper">

	<cache eviction="LRU"
		   type="com.haalthy.service.cache.MybatisRedisCache" flushInterval="300"
		   size="1000" readOnly="true" />
	<select id="getCommentsByPostId" resultType="Comment">
	    SELECT
	    	CommentID,
			PostID,
			InsertUsername,
			body,
			CountBookmarks,
			DateInserted,
			isActive,
			imageURL,
			displayname
	    FROM comment, user
	    WHERE POSTID = #{id} AND IsActive = 1 AND (comment.InsertUsername = user.Username)
	    	AND ((CommentID &lt; #{max_id}) AND (CommentID &gt; #{since_id}))
	    	ORDER BY DateInserted DESC
	    	LIMIT #{beginIndex}, #{count}    
	  </select>
	  
	<insert id="addComment" useGeneratedKeys="true"
    	keyProperty="commentID" keyColumn = "CommentID" flushCache="true">
  		INSERT into comment (InsertUserName, body, CountBookmarks,DateInserted, IsActive, PostID, IsPostOwnerRead)
 			 VALUES (#{insertUsername},#{body}, #{countBookmarks},  #{dateInserted}, #{isActive}, #{postID}, 0)
	</insert>
	
	<update id = "inactiveComment" parameterType="Comment" flushCache="true">
		UPDATE comment SET
			IsActive = "0"
		WHERE commentID = #{commentID} AND InsertUserName = #{insertUsername}
	</update>
	
	<select id="getUnreadCommentsCount" parameterType="String" resultType="int">
		SELECT Distinct
			COUNT(*)
			FROM comment
		WHERE comment.PostID in (select postID from post where insertUserName=#{username}) and IsPostOwnerRead = 0 AND IsActive = 1  order by dateInserted desc;
	</select>
	
	<select id = "getCommentsByUsername" resultType = "COMMENT">
		SELECT
			user.imageURL,
			commentID,
			post.PostID,
			comment.InsertUsername,
			comment.Body,
			comment.CountBookmarks,
			comment.DateInserted,
			post.imageURL as postImageURL,
			post.body as postBody,
			post.type as postType,
			user.displayname,
			post.isBroadcast
		FROM comment, post, user
		WHERE post.InsertUsername = #{username} AND comment.IsActive = 1 AND post.postID = comment.postID  AND comment.InsertUsername = user.username
		AND ((commentID &lt; #{max_id}) AND (commentID &gt; #{since_id}))
		ORDER BY comment.DateInserted DESC
	    LIMIT #{beginIndex}, #{count}
	</select>
	
	<update id="markCommentsAsReadByUsername" parameterType="String" flushCache="true">
		UPDATE comment SET
			IsPostOwnerRead = 1
		WHERE comment.PostID in (select postID from post where insertUserName=#{username})
	</update>
</mapper>