<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haalthy.service.persistence.PatientMapper">
  <cache />
  
  <select id="getTreatmentFormat" resultType="TreatmentFormat">
     	SELECT 
   			TreatmentFormatID,
   			Type,
   			name
		FROM TREATMENTFORMAT
   </select>
   
   <select id="getPatientStatusFormat" resultType="PatientStatusFormat">
     	SELECT 
   			statusFormatID,
   			statusName
		FROM PATIENTSTATUSFORMAT
   </select>
   
   <select id="getClinicReportFormat" resultType="ClinicReportFormat">
     	SELECT 
   			reportFormatID,
   			clinicItem
		FROM ClinicReportFormat
   </select>
   
   <select id = "getTreatmentsByUser" parameterType="String" resultType="Treatment">
   		SELECT 
   			TreatmentID,
   			Username,
			TreatmentName,
			Description,
			Dosage,
			beginDate,
			endDate,
			IsPosted
		FROM TREATMENT
			WHERE username = #{username}
		ORDER BY endDate DESC
   </select>
   
   <update id = "updateTreatmentById" parameterType="Treatment">
   		UPDATE Treatment SET
   			TreatmentName = #{treatmentName},
   			Dosage = #{dosage},
   			BeginDate = #{beginDate},
   			EndDate = #{endDate}
   		WHERE TreatmentId = #{treatmentID}
   </update>
  
   <select id = "getPatientStatusByUser" parameterType="String" resultType="PatientStatus">
   		SELECT 
   			StatusID,
			Username,
			ClinicReport,
			StatusDesc,
			InsertedDate,
			IsPosted
		FROM PATIENTSTATUS
			WHERE username = #{username}
		ORDER BY InsertedDate DESC
   </select>
   
   <select id = "getClinicReportByUser" parameterType="String" resultType="ClinicReport">
   		SELECT 
   			username,
			clinicReport,
			dateInserted,
			isPosted
		FROM CLINICREPORT
			WHERE username = #{username}
		ORDER BY dateInserted DESC
   </select>

   <select id = "getPostedTreatmentsByUser" parameterType="String" resultType="Treatment">
   		SELECT 
   			TreatmentID,
   			Username,
			TreatmentName,
			Description,
			Dosage,
			beginDate,
			endDate,
			IsPosted
		FROM TREATMENT
			WHERE username = #{username}  AND IsPosted = 1
		ORDER BY endDate DESC
   </select>
  
   <select id = "getPostedPatientStatusByUser" parameterType="String" resultType="PatientStatus">
   		SELECT 
   			StatusID,
			Username,
			ClinicReport,
			StatusDesc,
			InsertedDate,
			IsPosted
		FROM PATIENTSTATUS
			WHERE username = #{username}  AND IsPosted = 1
		ORDER BY InsertedDate DESC
   </select>
   
   <select id = "getPostedClinicReportByUser" parameterType="String" resultType="ClinicReport">
   		SELECT 
   			username,
			clinicReport,
			dateInserted,
			isPosted
		FROM CLINICREPORT
			WHERE username = #{username} AND IsPosted = 1
		ORDER BY dateInserted DESC
   </select>

  <insert id = "insertTreatment" useGeneratedKeys="true"
    	keyProperty="treatmentID" keyColumn = "treatmentID">
  	INSERT INTO TREATMENT(Username, treatmentName, Description, Dosage, BeginDate, EndDate, IsPosted) VALUES(
  		#{username}, #{treatmentName}, #{description}, #{dosage}, #{beginDate}, #{endDate}, #{isPosted}
  	)
  </insert>
  
    <insert id = "insertPatientStatus" useGeneratedKeys="true"
    	keyProperty="statusID" keyColumn = "statusID">
  	INSERT INTO PATIENTSTATUS(Username,
			ClinicReport,
			statusDesc,
			InsertedDate,
			IsPosted) VALUES(
  		#{username}, #{clinicReport}, #{statusDesc}, #{insertedDate}, #{isPosted}
  	)
  </insert>
  
  <insert id = "insertClinicReport" useGeneratedKeys="true"
    	keyProperty="ClinicReportID" keyColumn = "ClinicReportID">
  	INSERT INTO ClinicReport(Username,
			ClinicReport,
			DateInserted,
			IsPosted) VALUES(
  		#{username}, #{clinicReport}, #{dateInserted}, #{isPosted}
  	)
  </insert>
  
  <delete id = "deleteTreatmentById" parameterType="int">
  	DELETE FROM Treatment
  	Where TreatmentID = #{treatmentId}
  </delete>
</mapper>