<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haalthy.service.persistence.PatientMapper">
  <cache />
  
  <select id="getTreatmentFormat" resultType="TreatmentFormat">
     	SELECT 
   			TreatmentFormatID,
   			name
		FROM TREATMENTFORMAT
   </select>
   
   <select id="getPatientStatusFormat" resultType="PatientStatusFormat">
     	SELECT 
   			statusFormatID,
   			statusName
		FROM PATIENTSTATUSFORMAT
   </select>
   
   <select id = "getTreatmentsByUser" parameterType="String" resultType="Treatment">
   		SELECT 
   			TreatmentID,
   			Username,
			TreatmentName,
			Description,
			Dosage,
			beginDate,
			endDate,
			IsPosted
		FROM TREATMENT
			WHERE username = #{username}
   </select>
   
   <select id = "getPatientStatusByTreatment" parameterType = "int" resultType = "PatientStatus">
   		SELECT 
   			StatusID,
			Username,
			ClinicReport,
			SymptomDesc,
			SideEffect,
			InsertedDate,
			TreatmentID,
			IsPosted
		FROM PATIENTSTATUS
			WHERE treatmentID = #{treatmentID}
   </select>
  
  <insert id = "insertTreatment" useGeneratedKeys="true"
    	keyProperty="treatmentID" keyColumn = "treatmentID">
  	INSERT INTO TREATMENT(Username, treatmentName, Description, Dosage, BeginDate, EndDate, IsPosted) VALUES(
  		#{username}, #{treatmentName}, #{description}, #{dosage}, #{beginDate}, #{endDate}, #{isPosted}
  	)
  </insert>
  
    <insert id = "insertPatientStatus" useGeneratedKeys="true"
    	keyProperty="statusID" keyColumn = "statusID">
  	INSERT INTO PATIENTSTATUS(Username,
			ClinicReport,
			statusDesc,
			InsertedDate,
			IsPosted) VALUES(
  		#{username}, #{clinicReport}, #{statusDesc}, #{insertedDate}, #{isPosted}
  	)
  </insert>
  
</mapper>