<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haalthy.service.persistence.UserMapper">

 	<cache eviction="LRU"
		   type="com.haalthy.service.cache.MybatisRedisCache" flushInterval="8640000"
		   size="1000" readOnly="true" />

  <select id="getUserByUsername" parameterType="string" resultType="User">
    SELECT
		UserID,
		Email,
		CreateDate,
		UpdateDate,
		Displayname,
		Username,
		imageURL,
		Gender,
		IsSmoking,
		Pathological,
		Stage,
		FollowCount,
		CancerType,
		metastasis,
		Age,
		Password,
		geneticMutation,
		deviceToken,
		phone
    FROM user
    WHERE user.Username = #{username}
  </select>
  
  <select id="getUserByPhone" parameterType="string" resultType="User">
  	SELECT
  		UserID,
		password,
		Email,
		CreateDate,
		UpdateDate,
		Displayname,
		Username,
		ImageURL,
		Gender,
		IsSmoking,
		Pathological,
		Stage,
		FollowCount,
		CancerType,
		metastasis,
		Age,
		geneticMutation,
		deviceToken,
		phone,
		IsSuperUser
	FROM user
    WHERE user.phone = #{phone}
  </select>
  
    <select id="getUserByEmail" parameterType="string" resultType="User">
    SELECT
		UserID,
		password,
		Email,
		CreateDate,
		UpdateDate,
		Displayname,
		Username,
		ImageURL,
		Gender,
		IsSmoking,
		Pathological,
		Stage,
		FollowCount,
		CancerType,
		metastasis,
		Age,
		geneticMutation,
		deviceToken,
		phone,
		IsSuperUser
    FROM user
    WHERE user.Email = #{email}
  </select>
  
  
	<insert id="addUser" useGeneratedKeys="true"
    	keyProperty="UserID" keyColumn="UserID" flushCache="true">
  		INSERT INTO user (Username,Displayname,Password,Email, CreateDate, UpdateDate, FollowCount, CancerType, Pathological, Stage, IsSmoking, metastasis, Gender, Age, userType, geneticMutation, deviceToken, phone)
 			 VALUES (#{username},#{displayname},#{password},#{email},#{createDate}, #{updateDate}, #{followCount}, #{cancerType}, #{pathological}, #{stage}, #{isSmoking}, #{metastasis}, #{gender}, #{age}, #{userType}, #{geneticMutation}, #{deviceToken}, #{phone})
	</insert>
	
	<update id="updateUser" parameterType="User" flushCache="true">
    UPDATE user SET
      	EMAIL = #{email},
      	DISPLAYNAME = #{displayname},
		UpdateDate = #{updateDate},
		Gender = #{gender},
		IsSmoking = #{isSmoking},
		Pathological = #{pathological},
		Stage = #{stage},
		CancerType = #{cancerType},
		metastasis = #{metastasis},
		Age = #{age},
		phone = #{phone},
		geneticMutation = #{geneticMutation},
        deviceToken = #{deviceToken}
    WHERE username = #{username}
  </update>
  
  <insert id = "addUserTags" parameterType="java.util.List" flushCache="true">
  	INSERT INTO usertag(Username, TagID, DateInserted)
  	VALUES
  	<foreach collection="list" item="usertag" index="index" separator=",">
  		(#{usertag.username}, #{usertag.tagID}, #{usertag.dateInserted})
  	</foreach>
  	</insert>
  	<delete id = "deleteUserTags" parameterType = "String" flushCache="true">
		DELETE FROM usertag 
		WHERE  Username= #{username}
	</delete>
	
	<select id = "getTagsByUsername" parameterType = "String" resultType="Tag">
	SELECT
		tag.TagID,
		tag.Name,
		tag.Description,
		tag.typeName
	FROM tag, usertag
	WHERE tag.TagID = usertag.TagID AND usertag.username = #{username}
	</select>
	
	<update id = "addUserFollowCount" parameterType = "String" flushCache="true">
	Update user SET
		FollowCount = FollowCount+1
	WHERE Username = #{username}
	</update>
	
	<update id="deleteUserFollowCount" parameterType = "String" flushCache="true">
	Update user SET
		FollowCount = FollowCount-1
	WHERE Username = #{username}
	</update>
	
	<select id = "selectSuggestUsersByTags" parameterType = "SelectUserByTagRange" resultType="User">
	SELECT distinct
		UserID,
		Email,
		CreateDate,
		UpdateDate,
		Displayname,
		Username,
		Gender,
		IsSmoking,
		Pathological,
		Stage,
		Age,
		FollowCount,
		CancerType,
		geneticMutation,
		imageURL,
		phone
    FROM suggestuserbytags
    WHERE TagID IN
	<foreach item="tag" index="index" collection="tags" open="(" separator="," close=")">
        #{tag.tagId}
  	</foreach>
	AND (RankID BETWEEN #{beginIndex} AND #{endIndex})
	</select>
	<select id = "searchUsers" resultType = "User">
	SELECT
		UserID,
		Email,
		CreateDate,
		UpdateDate,
		Displayname,
		Username,
		ImageURL,
		Gender,
		IsSmoking,
		Pathological,
		Stage,
		FollowCount,
		CancerType,
		metastasis,
		Age,
		Password,
		geneticMutation,
		deviceToken,
		phone
    FROM user
    WHERE   	
		Displayname LIKE #{keyword}
 	</select>
 	
	<!-- parameterType = "GetSuggestUsersByProfileRequest" --> 
	<select id = "selectSuggestUsersByProfile"  resultType = "User">
	SELECT
		UserID,
		Email,
		CreateDate,
		UpdateDate,
		Displayname,
		Username,
		ImageURL,
		Gender,
		IsSmoking,
		Pathological,
		Stage,
		Age,
		FollowCount,
		CancerType,
		geneticMutation,
		phone
    FROM suggestuserbyprofile
    WHERE (SuggestedUsername = #{username})  
    Order By RankID asc
    LIMIT #{beginIndex}, #{count}
	</select>
	
	<update id="resetPassword" parameterType="User" flushCache="true">
    UPDATE user SET
	  PASSWORD = #{password}
    WHERE username = #{username}
  </update>
  
  <update id="resetDeviceToken" parameterType="User">
    UPDATE user SET
	  deviceToken = #{deviceToken}
    WHERE username = #{username}
  </update>
  
  <delete id="deleteFromSuggestUserByProfile" parameterType = "SuggestedUserPair" flushCache="true">
  	DELETE FROM suggestuserbyprofile where SuggestedUsername = #{suggestedUsername} AND username = #{username}
  </delete>
	<!--更新用户头像-->
	<update id="updateUserPhoto"  parameterType="User" flushCache="true">
		update user SET
		imageURL = #{imageURL}
		where username=#{username}
	</update>

	<!--追加用户头像-->
	<update id="appendUserPhoto" parameterType="User" flushCache="true">
		update user SET
		1=1
		where username=#{username}
	</update>
	
	<select id = "getUsersByDisplayname" parameterType="String" resultType="User">
  	SELECT
 		UserID,
 		Displayname,
		Username
	FROM user WHERE (user.Displayname=#{displayname})
 	</select>
 	
 	<select id = "getSuperUserList" parameterType="String" resultType="User">
  	SELECT
 		UserID,
 		Displayname,
		Username
	FROM user WHERE IsSuperUser=1
 	</select>
</mapper>

